---
interface Props {
  desc: string;
  dark?: boolean;
}

const { desc, dark } = Astro.props;
---

<div
  class="flex min-h-[80px] items-center w-2/3 border-2 border-text-low rounded-sm px-5"
>
  <h3 class="text-lg font-semibold">
    {desc}
  </h3>
</div>

<style></style>
