---
import { SERVICES as services } from "./services.ts";
import Card from "./Card.astro";
---

<div class="grid grid-cols-1 gap-5">
  {services.map(service => <Card desc={service.desc} dark={service.dark} />)}
</div>
