---
import Card from "./Card.astro";
---

<section id="services">
  <h2 class="text-first-text text-2xl mb-6">Services</h2>
  <div class="flex flex-col gap-8">
    <Card
      title="User Interface (UI) development"
      desc="Web design, web application development, mobile optimization, web optimization."
      src="/img/services/interface.webp"
    />
    <Card
      title="Integration of APIs and backend services"
      desc="Connection with APIs, state management."
      src="/img/services/connect.webp"
    />
    <Card
      title="Maintenance, updates and advice"
      desc="Updating existing interfaces, code refactoring, development best practices."
      src="/img/services/maintenance.webp"
    />
    <Card
      title="API development"
      desc="Creation of RESTful APIs, authentication and authorization."
      src="/img/services/api.webp"
    />
    <Card
      title="Database management and design"
      desc="Database design, queries and optimization."
      src="/img/services/database.webp"
    />
    <Card
      title="Server logic development"
      desc="Business logic development, server performance optimization."
      src="/img/services/logic.webp"
    />
  </div>
</section>
