---
import Title from "./Title.astro";
---

<section id="about" class="flex flex-col gap-6 text-second-text">
  <Title title="About" wd="w-[72px]" />
  <p>
    I am a <span>Full Stack</span> web developer with more than <span
      >3 years</span
    > coding. I am passionate about everything related to web development, from Front-End
    to Back-End, including database management. I have spent countless hours honing
    my skills and learning <span>best practices</span> in web application development.
  </p>
  <p>
    My focus on every project is always <span>quality</span>. I am a thorough
    and
    <span>detail-oriented</span> person, which allows me to ensure that each line
    of code is
    <span>optimized</span> and that each functionality works <span
      >efficiently</span
    >.
  </p>
  <p>
    I'm from Barcelona. I am always looking for new challenges that allow me to
    continue growing as a professional and add value with innovative and
    efficient solutions.
  </p>
</section>

<style>
  span {
    @apply text-marker font-semibold;
  }
</style>
