---
import "../global.css";
import Main from "../components/Main.astro";
import Contact from "../components/contact/Contact.astro";
import Layout from "../layouts/Layout.astro";
import MenuSkills from "../components/preact/skills/Skills.tsx";
import Projects from "../components/preact/projects/Projects.tsx";
import Services from "../components/services/Services.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Marc Martinez Dev">
  <section>
    <Main />
  </section>
  <section id="skills">
    <MenuSkills client:visible />
  </section>
  <section id="projects">
    <Projects client:visible />
  </section>
  <section id="services">
    <Services />
  </section>
  <section id="contact">
    <Contact />
  </section>
  <footer>
    <Footer />
  </footer>
</Layout>

<style>
  menu > * {
    @apply bg-transparent;
  }
  .menu-item {
    @apply text-text-low;
  }
  .menu-item-container {
    @apply flex items-center gap-2 p-1 rounded-md cursor-pointer hover:bg-highlight transition-all;
  }
  .selected {
    @apply bg-highlight;
  }
  .selected > li {
    @apply text-text;
  }
</style>
