---
import Card from "./Card.astro";
---

<h2>Contact</h2>
<div class="grid grid-cols-2 gap-4">
  <Card name="Barcelona, Spain" srcImg="/icons/location.png" />
  <Card
    name="github/MarcMartinezDev"
    srcImg="/icons/github.png"
    isLink={true}
    href="https://github.com/MarcMartinezDev"
  />
  <Card
    name="marcmh1605@gmail.com"
    srcImg="/icons/email.png"
    isLink={true}
    href="mailto:marcmh1605@gmail.com"
  />
  <Card
    name="linkedin/marc-martinez-her"
    srcImg="/icons/linkedin.png"
    isLink={true}
    href="https://www.linkedin.com/in/marc-martinez-her/"
  />
</div>
