---
interface Props {
  link: string;
  text: string;
  img: string;
}

const { link, text, img } = Astro.props;
---

<a
  href={link}
  class="flex gap-2 p-2 w-full aspect-square items-center justify-center bg-secondary rounded-sm text-lg text-center hover:bg-gradient-to-br hover:from-pink-600 hover:to-red-600 hover:scale-105 transition-all"
>
  {text}
  <img src={img} alt={`${text} icon`} width="50" />
</a>
