---
import Button from "./Button.astro";
---

<div class="flex flex-col gap-10 text-lg">
  <div class="flex gap-4 mb-5 justify-end">
    <a
      href="https://github.com/MarcMartinezDev"
      class="hover:scale-125 transition-all"
      ><img src="/icons/github.webp" alt="" width="30" /></a
    >
    <a
      href="https://www.linkedin.com/in/marc-martinez-her/"
      class="hover:scale-125 transition-all"
      ><img src="/icons/linkedin.webp" alt="" width="30" /></a
    >
  </div>
  <h1 class="text-6xl bg-clip-text text-transparent bg-menu-gradient">
    Hi! I'm Marc,
  </h1>
  <p>
    Fullstack web developer with <span
      class="text-2xl font-semibold bg-clip-text text-transparent bg-menu-gradient"
      >+3 years</span
    > programming and developing.
  </p>
  <p>
    Focused on creating applications and websites with clean code and using best
    practices, prioritizing scalability and optimization.
  </p>
  <p>
    Interested in both front-end and back-end, as well as database technologies.
  </p>
  <div class="grid grid-cols-4 gap-4 mt-6">
    <Button link="#skills" text="Skills" img="/icons/tech.webp" />
    <Button link="#services" text="Services" img="/icons/service.webp" />
    <Button link="#projects" text="Projects" img="/icons/project.webp" />
    <Button link="#contact" text="Contact" img="/icons/email.webp" />
  </div>
</div>
