---

---

<menu
  class="bg-primary bg-opacity-80 sticky top-0 flex p-2 gap-4 items-center justify-end"
>
  <li><a href="#skills">Skills</a></li>
  <li><a href="#services">Services</a></li>
  <li><a href="#projects">Projects</a></li>
  <li><a href="#contact">Contact</a></li>
  <li>
    <a href="https://github.com/MarcMartinezDev"
      ><img src="/icons/github.png" alt="github icon" /></a
    >
  </li>
</menu>

<style>
  img {
    width: 30px;
    height: 30px;
  }
  li {
    cursor: pointer;
  }
</style>
