menu > div {
  @apply flex items-center gap-2 py-1 px-2 rounded-sm cursor-pointer hover:bg-highlight transition-all;
}

menu > div > li,
menu > div > svg {
  @apply text-text-low;
}

.selected {
  @apply text-text bg-highlight;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shd {
  0% {
    box-shadow: 0px 0px 8px #6e2a89;
  }
  100% {
    box-shadow: none;
  }
}
