.bg-menu-gradient {
  @apply bg-[length:400%_400%] bg-gradient-to-br from-pink-600 to-red-600 animate-[bg-gradient_7s_ease_reverse_infinite];
}

.bg-gradient {
  @apply bg-gradient-to-br from-pink-600 to-red-600;
}

.selection-menu {
  @apply flex items-center gap-2 py-1 px-2 rounded-sm cursor-pointer text-text-low hover:bg-highlight transition-all;
}

@keyframes bg-gradient {
  0% {
    background-position: 14% 0%;
  }
  50% {
    background-position: 87% 100%;
  }
  100% {
    background-position: 14% 0%;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
